<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API REST</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
<div class="container">
  <h1>MI API REST</h1>
  <h3>Seleccione una opción</h3>
  <div class="button-container">
    <a href="./verequipos" class="button">Ver Equipos</a>
    <a href="./verjugadores" class="button">Ver Jugadores</a>
  </div>
  <div class="button-container">
    <a href="./verpartidos" class="button">Ver Partidos</a>
    <a href="./altaequipo" class="button">Alta Equipo</a>
  </div>
</div>
</body>

</html>