<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista del Jugador</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
<div class="container">
  <h1  th:text="|Jugador ${jugador.id}|"></h1>
  <table>
    <thead>
    <tr>
      <th>Número de Equipo</th>
      <th>Nombre</th>
      <th>Posicion</th>
      <th>Dorsal</th>
      <th>Equipo</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${jugador.id}"></td>
      <td th:text="${jugador.nombre}"></td>
      <td th:text="${jugador.posicion}"></td>
      <td th:text="${jugador.dorsal}"></td>
      <td th:text="${jugador.equipo.nombre}"></td>
    </tr>
    </tbody>
  </table>
  <div class="button-container">
    <a href="/" class="button">Volver a la página de inicio</a>
  </div>
</div>
</body>
</html>